pymysql
sqlalchemy
mysql-connector-python
pandas
python-dotenv
sentence-transformers
chromadb
langchain
langchain_community
langchain_huggingface
langchain_chroma
rank-bm25
fastapi
uvicorn
pydantic
streamlit
requests
ollama